.vs/
780107-200.png
FirstCustomControl.resx
FoodAppWindow.csproj
FoodAppWindow.csproj.user
FoodAppWindow.sln
MySecondCustomControl.resx
PizzaCustomControl.resx
Properties/
bin/
bulleted_list_32px.png
cheems.jpg
cheesburger.jpg
deliver_food_32px.png
facebook_32px.png
facebook_32pxbetter.png
food_32px.png
github_32px.png
help_32px.png
home.png
home2.png
home_32px.png
home_32pxbetter.png
instagram_32px.png
kebab-2.jpg
more_info_32px.png
notification_32px.png
obj/
paper_money_32px.png
pizza.jpg
plastic_food_container_32px.png
settings_32px.png
shutdown_32px.png
infoPopup.resx
taco.jpg
attachment_107937386.jpg
Form1.resx